@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
.row-wrap{
	text-align:center;
	margin-left: 25px;
	display: inline-block;
}
p{
	text-align:center;
}

.dashboard-link{
	float: right;
	margin: 50px;
}

.form-row{
	float: right;
}